
<div class="wrapper">

    <div class="sq-btn mute" [class.active]="masterMuted" title="Mute" (pointerdown)="onMuteMaster($event)">M</div>


    <div class="logo">

        <h1 id="home-title">HALLODRI</h1>
        
        <div id="wave-container">

            <wave></wave>

        </div>

        <div class="synthesizer-menu">

            <div class="sq-btn" title="Key" (pointerdown)="onChangeKey($event)">{{ key }}</div>
            <div class="sq-btn" title="Scale" (pointerdown)="onChangeScale($event)">{{ scales[scalesIndex].name }}</div>
            <div class="sq-btn" title="Amount of Voices" (pointerdown)="onVoiceAmountKey($event)">{{ voiceAmount }}</div>
<!-- 
            <div class="dropdown">
                <select name="scale" class="dropdown-select" (change)="onChangeScale($event)">
                    <option *ngFor="let s of scales" [value]="s.name">{{ s.name }}</option>
                </select>
            </div> -->

        </div>

    </div>


    <social></social>

</div>