
:host {

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--c-black);

    .social-container {

        display: inline-block;

        height: 40px;
        line-height: 40px;

        padding: 0px 10px;

        a {
            margin: 0px 5px;

            transition: color .08s;
        }

        a:hover {

            color: rgb(0, 255, 179);
        }
    }
}