:root {
    --c-black: #ffffff;
    --c-yellow: rgb(255, 191, 0);
}

@import url('./assets/fonts/font-face.css');

* {
    padding: 0px;
    margin: 0px;
    color: var(--c-black);
}

a,
a:active {
    text-decoration: none;
    color: var(--c-black);
}

html {

    font-size: 14px;
    font-family: 'Minecraft', Courier, Verdana, monospace;
}

body {

    background-color: var(--c-yellow)

}



.sq-btn {

    cursor: pointer;

    position: absolute;
    left: 0px;
    top: 0px;

    width: 30px;
    height: 30px;
    line-height: 33px;
    text-align: center;

    color: #ffffff;
}
