:root {
    --c-white: #ffffff;
    --c-black: #000000;
    --c-yellow: rgb(255, 191, 0);
    --c-cyan: rgb(0, 255, 179);
    --c-pink: rgb(255, 0, 81);
}

@import url('./assets/fonts/font-face.css');

* {
    padding: 0px;
    margin: 0px;
    color: var(--c-white);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

a,
a:active {
    text-decoration: none;
    color: var(--c-white);
}

html {

    font-size: 14px;
    font-family: 'Minecraft', Courier, Verdana, monospace;
}

body {

    background-color: var(--c-yellow)

}



.sq-btn {

    cursor: pointer;

    width: 40px;
    height: 40px;
    line-height: 43px;
    text-align: center;

    color: var(--c-white);

    font-size: 1.5rem;
}
