:root {
    --c-black: #ffffff;
    --c-yellow: rgb(255, 191, 0);
}

@import url('./assets/fonts/font-face.css');

* {
    padding: 0px;
    margin: 0px;
    color: var(--c-black);
}

a,
a:active {
    text-decoration: none;
    color: var(--c-black);
}

html {

    font-family: 'Minecraft', Courier, Verdana, monospace;
}

body {

    background-color: var(--c-yellow)

}